extends layout

block content
  h1= title
  p Welcome to #{title} 
  button(type="submit") sd 
  a(href="http://google.com") click
  html.
    <body>
      <a href="ttt">aaaaa</a>
      sdf
    </body>